.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.Track-action:hover {
    color: rgba(265, 265, 265, .5);
}

.Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
    overflow: hidden;
}

.Track-information h3 {
    margin-bottom: .22rem;
}

.Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
}

.imageee {
    width: 50px;
    padding-right: 10px;
    border-radius: 8px 8px 8px 8px;
}

@keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

@media only screen and (max-width: 600px) {
    .Track-information h3 {
        animation: scroll-text 4s linear infinite;
        white-space: nowrap;
    }
    .Track-information p {
        animation: scroll-text 4s linear infinite;
        white-space: nowrap;
    }
}